<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Example App - Home</title>
    <link rel="stylesheet" type="text/css" href="public/css/style.css" />
</head>
<body>

{{{body}}}

<script type="text/javascript" src="public/js/build/express-boilerplate.min.js"></script>
</body>
</html>